openapi: 3.0.0
info:
  description: "API for reading and writing personnel data including data about attendances,\
    \ absences, documents, etc"
  title: Personnel Data
  version: "1.0"
  x-konfig-ignore:
    object-with-no-properties: true
  x-konfig-uses-multipart-form-data: true
servers:
- url: https://api.personio.de/v1
tags:
- name: Employees
- name: Absences
- name: Attendances
- name: Projects
- name: Custom Reports
- name: Documents
paths:
  /company/employees:
    get:
      description: List Company Employees
      operationId: Employees_getList
      parameters:
      - description: The partner identifier
        explode: false
        in: header
        name: X-Personio-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: The application identifier
        explode: false
        in: header
        name: X-Personio-App-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Pagination attribute to limit the number of employees returned
          per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          example: 10
          minimum: 1
          type: integer
          x-konfig-original-example: 10
          x-konfig-generated-schema: konfig-generated-schema-paths--company-employees-get-parameters-0-schema
        style: form
      - description: Pagination attribute to identify the first item in the collection
          to return.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          minimum: 0
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--company-employees-get-parameters-1-schema
        style: form
      - description: "Find an employee with the given email address. The response\
          \ is still a list, containing only the filtered employee. NOTE: when using\
          \ the updated_since filter, the email filter is ignored."
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      - description: "A list of attributes that will be returned for the employees,\
          \ ie. a projection of the employee fields and relationships. In case `updated_since`\
          \ query parameter is used, this list will additionally be used to exclude\
          \ the employees that had none of the provided `attributes[]` updated since\
          \ `updated_since`, ie. a selection filter."
        example: "?attributes[]=first_name&attributes[]=last_name"
        explode: true
        in: query
        name: "attributes[]"
        required: false
        schema:
          example:
          - first_name
          - last_name
          items:
            type: string
          type: array
          x-konfig-original-example:
          - first_name
          - last_name
          x-konfig-generated-schema: konfig-generated-schema-paths--company-employees-get-parameters-3-schema
        style: form
        x-konfig-original-example: "?attributes[]=first_name&attributes[]=last_name"
      - description: |-
          Filter to select and return only the employees that have been updated after `updated_since`. When it is used together with the `attributes[]` query parameter, the filter will select only the employees that have had any of the provided `attributes[]` updated since `updated_since`. The format is `ISO 8601` (2022-12-24T08:15:30). NOTE: when using the `updated_since` filter, the `email`, `limit`, and `offset` parameters are ignored.
          <details> <summary><b>Examples with <code>updated_since</code> and <code>attributes[]</code>:</b></summary><br /> In an example company that has 17 employees:<br /><br /> <details>
            <summary>
            <code class="language-html">?updated_since=2022-12-24T08:15:30</code>
            will yield 10 employees that were recently updated:
            </summary>
          <p><pre class="prettyprint"><code language="json" class="language-json"> {
            "success": true,
            "metadata": {
              "total_elements": 10,
              "current_page": 0,
              "total_pages": 10
            },
            "offset": 0,
            "limit": 1,
            "data": [
              {
                "type": "Employee",
                "attributes": {
                  "id": {
                    "label": "ID",
                    "value": 1,
                    "type": "integer",
                    "universal_id": "id"
                  },
                  "first_name": {
                    "label": "First name",
                    "value": "Alexander",
                    "type": "standard",
                    "universal_id": "first_name"
                  },
                  "last_name": {
                    "label": "Last name",
                    "value": "Bergmann",
                    "type": "standard",
                    "universal_id": "last_name"
                  },
                  "email": {
                    "label": "Email",
                    "value": "alexander.bergmann@demo.com",
                    "type": "standard",
                    "universal_id": "email"
                  }
                }
              }, ...
            ],
            ...
            ...
          } </code></pre></p> </details><br /> <details>
            <summary>
            <code class="language-html">?attributes[]=first_name</code>
            will yield all 17 employees:
            </summary>
          <p><pre class="prettyprint"><code language="json" class="language-json"> {
            "success": true,
            "metadata": {
              "total_elements": 17,
              "current_page": 0,
              "total_pages": 17
            },
            "offset": 0,
            "limit": 1,
            "data": [
              {
                "type": "Employee",
                "attributes": {
                  "id": {
                    "label": "ID",
                    "value": 1,
                    "type": "integer",
                    "universal_id": "id"
                  },
                  "first_name": {
                    "label": "First name",
                    "value": "Alexander",
                    "type": "standard",
                    "universal_id": "first_name"
                  }
                }
              }
            ]
          } </code></pre></p> </details><br /> <details>
            <summary>
            <code class="language-html">?attributes[]=first_name&updated_since=2022-12-24T08:15:30</code>
            will yield 3 employees, ones that had their <code>first_name</code> changed since <code>2022-12-24T08:15:30</code>:
            </summary>
          <p><pre class="prettyprint"><code language="json" class="language-json"> {
            "success": true,
            "metadata": {
              "total_elements": 3,
              "current_page": 0,
              "total_pages": 3
            },
            "offset": 0,
            "limit": 1,
            "data": [
              {
                "type": "Employee",
                "attributes": {
                  "id": {
                    "label": "ID",
                    "value": 1,
                    "type": "integer",
                    "universal_id": "id"
                  },
                  "first_name": {
                    "label": "First name",
                    "value": "Alexander",
                    "type": "standard",
                    "universal_id": "first_name"
                  }
                }
              }
            ]
          } </code></pre></p> </details> </details>
        example: 2022-12-24T08:15:30
        explode: true
        in: query
        name: updated_since
        required: false
        schema:
          example: 2022-12-24T08:15:30.000Z
          type: string
          x-konfig-original-example: 2022-12-24T08:15:30.000Z
          x-konfig-generated-schema: konfig-generated-schema-paths--company-employees-get-parameters-4-schema
        style: form
        x-konfig-original-example: 2022-12-24T08:15:30
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: true
                    metadata:
                      total_elements: 2
                      current_page: 0
                      total_pages: 3
                    offset: 0
                    limit: 20
                    data:
                    - type: Employee
                      attributes:
                        id:
                          label: ID
                          value: 1
                          type: integer
                          universal_id: id
                        first_name:
                          label: First name
                          value: Alexander
                          type: standard
                          universal_id: first_name
                        last_name:
                          label: Last name
                          value: Bergmann
                          type: standard
                          universal_id: last_name
                        preferred_name:
                          label: Name (preferred)
                          value: Alexander Bergmann
                          type: standard
                          universal_id: preferred_name
                        email:
                          label: Email
                          value: alexander.bergmann@demo.email
                          type: standard
                          universal_id: email
                        gender:
                          label: Gender
                          value: male
                          type: standard
                          universal_id: gender
                        status:
                          label: Status
                          value: active
                          type: standard
                          universal_id: status
                        position:
                          label: Position
                          value: CTO
                          type: standard
                          universal_id: position
                        supervisor:
                          label: Supervisor
                          value:
                            type: Employee
                            attributes:
                              id:
                                label: ID
                                value: 2
                                type: integer
                                universal_id: id
                          type: standard
                          universal_id: supervisor
                        employment_type:
                          label: Employment type
                          value: external
                          type: standard
                          universal_id: employment_type
                        weekly_working_hours:
                          label: Weekly hours
                          value: "40"
                          type: standard
                          universal_id: weekly_working_hours
                        hire_date:
                          label: Hire date
                          value: 2014-11-08T23:00:00.000Z
                          type: date
                          universal_id: hire_date
                        contract_end_date:
                          label: Contract ends
                          value: null
                          type: date
                          universal_id: contract_end_date
                        termination_date:
                          label: Termination date
                          value: null
                          type: date
                          universal_id: termination_date
                        termination_type:
                          label: Termination type
                          value: null
                          type: standard
                          universal_id: termination_type
                        termination_reason:
                          label: Termination reason
                          value: null
                          type: standard
                          universal_id: termination_reason
                        probation_period_end:
                          label: Probation period end
                          value: null
                          type: date
                          universal_id: probation_period_end
                        created_at:
                          label: created_at
                          value: 2017-05-23T09:49:03+02:00
                          type: date
                          universal_id: created_at
                        last_modified_at:
                          label: Last modified
                          value: 2020-11-18T17:33:55+01:00
                          type: date
                          universal_id: last_modified_at
                        subcompany:
                          label: Subcompany
                          value:
                            type: Subcompany
                            attributes:
                              id: 7033
                              name: CS Demo GmbH
                          type: standard
                          universal_id: subcompany
                        office:
                          label: Office
                          value:
                            type: Office
                            attributes:
                              id: 131014
                              name: Munich
                          type: standard
                          universal_id: office
                        department:
                          label: Department
                          value:
                            type: Department
                            attributes:
                              id: 281521
                              name: Customer Support
                          type: standard
                          universal_id: department
                        cost_centers:
                          label: Cost center
                          value:
                          - type: CostCenter
                            attributes:
                              id: 82957
                              name: Cost center 1
                              percentage: 100
                          type: standard
                          universal_id: cost_centers
                        holiday_calendar:
                          label: Public holidays
                          value:
                            type: HolidayCalendar
                            attributes:
                              id: 2
                              name: Deutschland (Bayern) Feiertage
                              country: DE
                              state: Bayern
                          type: standard
                          universal_id: holiday_calendar
                        absence_entitlement:
                          label: Absence entitlement
                          value:
                          - type: TimeOffType
                            attributes:
                              id: 113437
                              name: Paid vacation
                              category: paid_vacation
                              entitlement: 24
                          type: standard
                          universal_id: absence_entitlement
                        work_schedule:
                          label: Work schedule
                          value:
                            type: WorkSchedule
                            attributes:
                              id: 97188
                              name: "Full-time, 40 hours without time tracking, (mon,tue,wed,thu,fri)"
                              valid_from: null
                              monday: 08:00
                              tuesday: 08:00
                              wednesday: 08:00
                              thursday: 08:00
                              friday: 08:00
                              saturday: 00:00
                              sunday: 00:00
                          type: standard
                          universal_id: work_schedule
                        fix_salary:
                          label: Fix salary
                          value: 3000
                          type: decimal
                          universal_id: fix_salary
                          currency: EUR
                        fix_salary_interval:
                          label: Salary interval
                          value: monthly
                          type: standard
                          universal_id: fix_salary_interval
                        hourly_salary:
                          label: Hourly salary
                          value: 0
                          type: decimal
                          universal_id: hourly_salary
                          currency: EUR
                        vacation_day_balance:
                          label: Vacation day balance
                          value: 2
                          type: decimal
                          universal_id: vacation_day_balance
                        last_working_day:
                          label: Last day of work
                          value: null
                          type: date
                          universal_id: last_working_day
                        profile_picture:
                          label: Profile Picture
                          value: https://api.personio.de/v1/company/employees/1132888/profile-picture
                          type: standard
                          universal_id: profile_picture
                        team:
                          label: Team
                          value:
                            type: Team
                            attributes:
                              id: 59026
                              name: T_X
                          type: standard
                          universal_id: team
                        dynamic_24407:
                          label: Titel
                          value: Dr
                          universal_id: null
                          type: standard
                        dynamic_21827:
                          label: IBAN
                          value: DE98 8989 9898 0000 8989 00
                          universal_id: iban
                          type: standard
                        dynamic_33400:
                          label: Anniversary Date
                          value: 2021-01-01T00:00:00.000Z
                          universal_id: null
                          type: date
              schema:
                $ref: '#/components/schemas/EmployeesResponse'
          description: ""
      security:
      - BearerAuth: []
      tags:
      - Employees
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--company-employees
      x-accepts: application/json
    post:
      description: |
        Creates a new employee. If the employee's status is not provided, it will be set based on the `hire_date` value - if it is in the past, status will be `active`, otherwise `onboarding`. This endpoint responds with the `id` of the created employee in case of success.
      operationId: Employees_createEmployee
      parameters:
      - description: The partner identifier
        explode: false
        in: header
        name: X-Personio-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: The application identifier
        explode: false
        in: header
        name: X-Personio-App-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeesCreateEmployeeRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmployeesCreateEmployeeRequest1'
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: true
                    data:
                      id: 81723
                      message: success
              schema:
                $ref: '#/components/schemas/EmployeeCreatedResponse'
          description: Successful creation of a employee
        "422":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 422
                      message: Supervisor with ID 1 not found
              schema:
                $ref: '#/components/schemas/EmployeeCreationErrorResponse'
          description: Employee creation failed due to invalid payload
          x-do-not-generate: true
      security:
      - BearerAuth: []
      summary: Create an employee
      tags:
      - Employees
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--company-employees
      x-content-type: application/json
      x-accepts: application/json
  /company/employees/{employee_id}:
    get:
      description: Show employee by ID
      operationId: Employees_showById
      parameters:
      - description: The partner identifier
        explode: false
        in: header
        name: X-Personio-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: The application identifier
        explode: false
        in: header
        name: X-Personio-App-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Numeric `id` of the employee
        explode: false
        in: path
        name: employee_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: true
                    data:
                      type: Employee
                      attributes:
                        id:
                          label: ID
                          value: 1
                          type: integer
                          universal_id: id
                        first_name:
                          label: First name
                          value: Alexander
                          type: standard
                          universal_id: first_name
                        last_name:
                          label: Last name
                          value: Bergmann
                          type: standard
                          universal_id: last_name
                        preferred_name:
                          label: Name (preferred)
                          value: Alexander Bergmann
                          type: standard
                          universal_id: preferred_name
                        email:
                          label: Email
                          value: alexander.bergmann@demo.email
                          type: standard
                          universal_id: email
                        gender:
                          label: Gender
                          value: male
                          type: standard
                          universal_id: gender
                        status:
                          label: Status
                          value: active
                          type: standard
                          universal_id: status
                        position:
                          label: Position
                          value: CTO
                          type: standard
                          universal_id: position
                        supervisor:
                          label: Supervisor
                          value:
                            type: Employee
                            attributes:
                              id:
                                label: ID
                                value: 2
                                type: integer
                                universal_id: id
                          type: standard
                          universal_id: supervisor
                        employment_type:
                          label: Employment type
                          value: external
                          type: standard
                          universal_id: employment_type
                        weekly_working_hours:
                          label: Weekly hours
                          value: "40"
                          type: standard
                          universal_id: weekly_working_hours
                        hire_date:
                          label: Hire date
                          value: 2014-11-08T23:00:00.000Z
                          type: date
                          universal_id: hire_date
                        contract_end_date:
                          label: Contract ends
                          value: null
                          type: date
                          universal_id: contract_end_date
                        termination_date:
                          label: Termination date
                          value: null
                          type: date
                          universal_id: termination_date
                        termination_type:
                          label: Termination type
                          value: null
                          type: standard
                          universal_id: termination_type
                        termination_reason:
                          label: Termination reason
                          value: null
                          type: standard
                          universal_id: termination_reason
                        probation_period_end:
                          label: Probation period end
                          value: null
                          type: date
                          universal_id: probation_period_end
                        created_at:
                          label: created_at
                          value: 2017-05-23T09:49:03+02:00
                          type: date
                          universal_id: created_at
                        last_modified_at:
                          label: Last modified
                          value: 2020-11-18T17:33:55+01:00
                          type: date
                          universal_id: last_modified_at
                        subcompany:
                          label: Subcompany
                          value:
                            type: Subcompany
                            attributes:
                              id: 7033
                              name: CS Demo GmbH
                          type: standard
                          universal_id: subcompany
                        office:
                          label: Office
                          value:
                            type: Office
                            attributes:
                              id: 131014
                              name: Munich
                          type: standard
                          universal_id: office
                        department:
                          label: Department
                          value:
                            type: Department
                            attributes:
                              id: 281521
                              name: Customer Support
                          type: standard
                          universal_id: department
                        cost_centers:
                          label: Cost center
                          value:
                          - type: CostCenter
                            attributes:
                              id: 82957
                              name: Cost center 1
                              percentage: 100
                          type: standard
                          universal_id: cost_centers
                        holiday_calendar:
                          label: Public holidays
                          value:
                            type: HolidayCalendar
                            attributes:
                              id: 2
                              name: Deutschland (Bayern) Feiertage
                              country: DE
                              state: Bayern
                          type: standard
                          universal_id: holiday_calendar
                        absence_entitlement:
                          label: Absence entitlement
                          value:
                          - type: TimeOffType
                            attributes:
                              id: 113437
                              name: Paid vacation
                              category: paid_vacation
                              entitlement: 24
                          type: standard
                          universal_id: absence_entitlement
                        work_schedule:
                          label: Work schedule
                          value:
                            type: WorkSchedule
                            attributes:
                              id: 97188
                              name: "Full-time, 40 hours without time tracking, (mon,tue,wed,thu,fri)"
                              valid_from: null
                              monday: 08:00
                              tuesday: 08:00
                              wednesday: 08:00
                              thursday: 08:00
                              friday: 08:00
                              saturday: 00:00
                              sunday: 00:00
                          type: standard
                          universal_id: work_schedule
                        fix_salary:
                          label: Fix salary
                          value: 3000
                          type: decimal
                          universal_id: fix_salary
                          currency: EUR
                        fix_salary_interval:
                          label: Salary interval
                          value: monthly
                          type: standard
                          universal_id: fix_salary_interval
                        hourly_salary:
                          label: Hourly salary
                          value: 0
                          type: decimal
                          universal_id: hourly_salary
                          currency: EUR
                        vacation_day_balance:
                          label: Vacation day balance
                          value: 2
                          type: decimal
                          universal_id: vacation_day_balance
                        last_working_day:
                          label: Last day of work
                          value: null
                          type: date
                          universal_id: last_working_day
                        profile_picture:
                          label: Profile Picture
                          value: https://api.personio.de/v1/company/employees/1132888/profile-picture
                          type: standard
                          universal_id: profile_picture
                        team:
                          label: Team
                          value:
                            type: Team
                            attributes:
                              id: 59026
                              name: T_X
                          type: standard
                          universal_id: team
                        dynamic_24407:
                          label: Titel
                          value: Dr
                          universal_id: null
                          type: standard
                        dynamic_21827:
                          label: IBAN
                          value: DE98 8989 9898 0000 8989 00
                          universal_id: iban
                          type: standard
                        dynamic_33400:
                          label: Anniversary Date
                          value: 2021-01-01T00:00:00.000Z
                          universal_id: null
                          type: date
                        dynamic_180883:
                          label: Birthday
                          value: 1983-08-18T00:00:00.000Z
                          universal_id: date_of_birth
                          type: date
              schema:
                $ref: '#/components/schemas/EmployeeResponse'
          description: ""
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 404
                      message: 'Es ist ein Problem aufgetreten '
              schema:
                $ref: '#/components/schemas/Employee404ErrorResponse'
          description: ""
          x-do-not-generate: true
      security:
      - BearerAuth: []
      tags:
      - Employees
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--company-employees-employee_id
      x-accepts: application/json
    patch:
      description: |
        Updates an existing employee. Note: Only the fields that are listed in the body example are updatable. Attributes that are not part of the sample request body but are present inside the request are ignored. It's not possible to update the Email field.
      operationId: Employees_updateEmployeeFields
      parameters:
      - description: The partner identifier
        explode: false
        in: header
        name: X-Personio-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: The application identifier
        explode: false
        in: header
        name: X-Personio-App-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Numeric `id` of the employee
        explode: false
        in: path
        name: employee_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeesUpdateEmployeeFieldsRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmployeesUpdateEmployeeFieldsRequest1'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeUpdatedResponse'
          description: Employee is updated
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeUpdateErrorResponse'
          description: Employee update failed due to invalid payload
          x-do-not-generate: true
      security:
      - BearerAuth: []
      summary: Update an employee
      tags:
      - Employees
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--company-employees-employee_id
      x-content-type: application/json
      x-accepts: application/json
  /company/employees/{employee_id}/absences/balance:
    get:
      description: Retrieve the absence balance for a specific employee
      operationId: Employees_getAbsenceBalance
      parameters:
      - description: The partner identifier
        explode: false
        in: header
        name: X-Personio-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: The application identifier
        explode: false
        in: header
        name: X-Personio-App-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Numeric `id` of the employee
        explode: false
        in: path
        name: employee_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: true
                    data:
                    - id: 21799
                      name: Paid Vacation
                      category: null
                      balance: 14
                    - id: 33523
                      name: Sick Days
                      category: null
                      balance: 0
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceBalance'
          description: ""
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 404
                      message: 'Es ist ein Problem aufgetreten '
              schema:
                $ref: '#/components/schemas/Employee404ErrorResponse'
          description: ""
          x-do-not-generate: true
      security:
      - BearerAuth: []
      tags:
      - Employees
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--company-employees-employee_id-absences-balance
      x-accepts: application/json
  /company/employees/custom-attributes:
    get:
      description: This endpoint is an alias for `/company/employees/attributes`.
      operationId: Employees_getCustomAttributes
      parameters:
      - description: The partner identifier
        explode: false
        in: header
        name: X-Personio-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: The application identifier
        explode: false
        in: header
        name: X-Personio-App-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Please refer to `/company/employees/attributes`
      security:
      - BearerAuth: []
      tags:
      - Employees
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--company-employees-custom-attributes
      x-accepts: application/json
  /company/employees/attributes:
    get:
      description: Lists all the allowed atrributes per API credentials including
        custom (dynamic) attributes.
      operationId: Employees_listAttributes
      parameters:
      - description: The partner identifier
        explode: false
        in: header
        name: X-Personio-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: The application identifier
        explode: false
        in: header
        name: X-Personio-App-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: true
                    data:
                    - key: first_name
                      label: First Name
                      type: standard
                      universal_id: first_name
                    - key: last_name
                      label: Last Name
                      type: standard
                      universal_id: last_name
                    - key: dynamic_1
                      label: IBAN
                      type: standard
                      universal_id: iban
              schema:
                $ref: '#/components/schemas/EmployeesListAttributesResponse'
          description: ""
      security:
      - BearerAuth: []
      tags:
      - Employees
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--company-employees-attributes
      x-accepts: application/json
  /company/employees/{employee_id}/profile-picture/{width}:
    get:
      description: "Show employee's profile picture. If profile picture is missing,\
        \ the 404 error will be thrown. The `Profile Picture` attribute has to be\
        \ whitelisted."
      operationId: Employees_showProfilePicture
      parameters:
      - description: The partner identifier
        explode: false
        in: header
        name: X-Personio-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: The application identifier
        explode: false
        in: header
        name: X-Personio-App-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Numeric `id` of the employee
        explode: false
        in: path
        name: employee_id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: Width of the image. Default is original size
        explode: false
        in: path
        name: width
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            image/png:
              schema:
                $ref: '#/components/schemas/EmployeesShowProfilePictureResponse'
          description: OK
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 404
                      message: Etwas ist schiefgelaufen ...
              schema:
                $ref: '#/components/schemas/Employee404ErrorResponse'
          description: "When the employee doesn't exist or employee doesn't have profile\
            \ picture set or Profile Picture attribute is not whitelisted, this error\
            \ occurs."
          x-do-not-generate: true
      security:
      - BearerAuth: []
      tags:
      - Employees
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--company-employees-employee_id-profile-picture-width
      x-accepts: application/json
  /company/attendances:
    get:
      description: "Fetch attendance data for the company employees. The result can\
        \ be `paginated` and `filtered` by period, the date and/or time they were\
        \ updated, and/or specific employee/employees. The result contains a list\
        \ of attendances."
      operationId: Attendances_getList
      parameters:
      - description: The partner identifier
        explode: false
        in: header
        name: X-Personio-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: The application identifier
        explode: false
        in: header
        name: X-Personio-App-ID
        required: false
        schema:
          type: string
        style: simple
      - description: "First day of the period to be queried. It is inclusive, so the\
          \ day specified as start_date will also be considered on the results"
        explode: true
        in: query
        name: start_date
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "Last day of the period to be queried. It is inclusive, so the\
          \ day specified as end_date will also be considered on the results."
        explode: true
        in: query
        name: end_date
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: "Datetime from when the queried periods have been updated. Same\
          \ format as updated_at. It is inclusive, so the day specified as updated_from\
          \ will also be considered on the results. Can be just the date, or the date\
          \ and the time, with or without the timezone."
        explode: true
        in: query
        name: updated_from
        required: false
        schema:
          format: datetime
          type: string
        style: form
      - description: "Datetime until when the queried periods have been updated. Same\
          \ format as updated_at. It is inclusive, so the day specified as updated_to\
          \ will also be considered on the results. Can be just the date, or the date\
          \ and the time, with or without the timezone."
        explode: true
        in: query
        name: updated_to
        required: false
        schema:
          format: datetime
          type: string
        style: form
      - description: "Returns AttendancePeriods with a status of pending, rejected\
          \ and confirmed. For pending periods, the end_date attribute is nullable.\
          \ The status of each period is included in the response."
        explode: true
        in: query
        name: includePending
        required: false
        schema:
          type: boolean
        style: form
      - allowReserved: true
        description: A list of Personio employee ID's to filter the results. The result
          filters including only attendances of provided employees.
        explode: true
        in: query
        name: "employees[]"
        required: false
        schema:
          example: "?employees[]=1&employees[]=2"
          items:
            type: integer
          type: array
          x-konfig-original-example: "?employees[]=1&employees[]=2"
          x-konfig-generated-schema: konfig-generated-schema-paths--company-attendances-get-parameters-5-schema
        style: form
      - description: Pagination attribute to limit how many attendances are per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 200
          example: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 200
          x-konfig-generated-schema: konfig-generated-schema-paths--company-attendances-get-parameters-6-schema
        style: form
      - description: "The offset from the first record that would be returned. With\
          \ 3 results [A, B, C] and an offset of 1, the following two results will\
          \ be returned [B, C]."
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          minimum: 0
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--company-attendances-get-parameters-7-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: true
                    metadata:
                      total_elements: 2
                      current_page: 0
                      total_pages: 3
                    offset: 0
                    limit: 200
                    data:
                    - id: 1234
                      type: AttendancePeriod
                      attributes:
                        employee: 325659
                        date: 2017-01-17
                        start_time: 09:00
                        end_time: 1080
                        updated_at: 2017-01-17T16:41:08+00:00
                        status: confirmed
                        break: 50
                        comment: I was super productive
                        is_holiday: false
                        is_on_time_off: "false,"
                        project:
                          id: 567
                          type: Project
                          attributes:
                            name: A project name
                            active: true
                    - id: 1235
                      type: AttendancePeriod
                      attributes:
                        employee: 325660
                        date: 2017-01-18
                        start_time: 09:30
                        end_time: 1110
                        updated_at: 2017-01-18T16:41:08+01:00
                        status: pending
                        break: 60
                        comment: I wasn't productive
                        is_holiday: false
                        is_on_time_off: true
                        project: null
              schema:
                $ref: '#/components/schemas/AttendancePeriodsResponse'
          description: The Attendance periods matching the provided filters
        "401":
          content:
            application/json:
              examples:
                response:
                  $ref: '#/components/examples/401UnauthorizedErrorExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized Access
          x-do-not-generate: true
        "403":
          content:
            application/json:
              examples:
                response:
                  $ref: '#/components/examples/403ForbiddenErrorExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden Access
          x-do-not-generate: true
      security:
      - BearerAuth: []
      tags:
      - Attendances
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--company-attendances
      x-accepts: application/json
    post:
      description: "This endpoint is responsible for adding attendance data for the\
        \ company employees. It is possible to add attendances for one or many employees\
        \ at the same time. The payload sent on the request should be a list of attendance\
        \ periods, in the form of an array containing attendance period objects."
      operationId: Attendances_createMultipleAttendances
      parameters:
      - description: The partner identifier
        explode: false
        in: header
        name: X-Personio-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: The application identifier
        explode: false
        in: header
        name: X-Personio-App-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttendanceCreateRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NewAttendancePeriodParametersRequest'
        description: List of attendance periods to create
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: true
                    data:
                      id:
                      - 1
                      - 2
                      message: success
              schema:
                $ref: '#/components/schemas/NewAttendancePeriodResponse'
          description: The attendance periods are successfully created
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 400
                      message: Error when trying to insert Attendances periods rows
                      detailed_message:
                      - success: true
                        error_msg: null
                        id: 1
                        employee: 1234
                        date: 2017-01-01
                        start_time: 09:00
                        end_time: 1080
                        break: 60
                        comment: ""
                        project_id: 5
                      - success: false
                        error_msg: Existing overlapping attendances periods
                        id: null
                        employee: 1234
                        date: 2017-01-01
                        start_time: 09:00
                        end_time: 1080
                        break: 60
                        comment: ""
                        project_id: null
              schema:
                $ref: '#/components/schemas/AttendanceCreateUpdate400ErrorResponse'
          description: Invalid request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              examples:
                response:
                  $ref: '#/components/examples/401UnauthorizedErrorExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized Access
          x-do-not-generate: true
        "403":
          content:
            application/json:
              examples:
                response:
                  $ref: '#/components/examples/403ForbiddenErrorExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden Access
          x-do-not-generate: true
      security:
      - BearerAuth: []
      tags:
      - Attendances
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--company-attendances
      x-content-type: application/json
      x-accepts: application/json
  /company/attendances/{id}:
    delete:
      description: This endpoint is responsible for deleting attendance data for the
        company employees.
      operationId: Attendances_deleteData
      parameters:
      - description: The partner identifier
        explode: false
        in: header
        name: X-Personio-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: The application identifier
        explode: false
        in: header
        name: X-Personio-App-ID
        required: false
        schema:
          type: string
        style: simple
      - description: ID of the attendance period to delete
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - description: "Optional, default value is true. If set to false, the approval\
          \ status of the attendance period will be \"pending\" if an approval rule\
          \ is set for the attendances type. The respective approval flow will be\
          \ triggered."
        explode: true
        in: query
        name: skip_approval
        required: false
        schema:
          default: true
          example: true
          type: boolean
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-paths--company-attendances-id-delete-parameters-1-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: true
                    data:
                      message: The attendance period was deleted.
              schema:
                $ref: '#/components/schemas/DeletedAttendanceResponse'
          description: Success response
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 400
                      message: Bad Request
              schema:
                $ref: '#/components/schemas/AttendanceDelete400ErrorResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              examples:
                response:
                  $ref: '#/components/examples/401UnauthorizedErrorExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized Access
          x-do-not-generate: true
        "403":
          content:
            application/json:
              examples:
                response:
                  $ref: '#/components/examples/403ForbiddenErrorExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden Access
          x-do-not-generate: true
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 404
                      message: The attendance period was not found.
              schema:
                $ref: '#/components/schemas/Attendance404ErrorResponse'
          description: Not Found
          x-do-not-generate: true
      security:
      - BearerAuth: []
      tags:
      - Attendances
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--company-attendances-id
      x-accepts: application/json
    patch:
      description: "This endpoint is responsible for updating attendance data for\
        \ the company employees. Attributes are not required and if not specified,\
        \ the current value will be used. It is not possible to change the employee\
        \ id."
      operationId: Attendances_updateAttendanceData
      parameters:
      - description: The partner identifier
        explode: false
        in: header
        name: X-Personio-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: The application identifier
        explode: false
        in: header
        name: X-Personio-App-ID
        required: false
        schema:
          type: string
        style: simple
      - description: ID of the attendance period to update
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttendanceUpdateRequest'
        description: "Attendance period data to update. At least one of the properties\
          \ (`date`, `start_time`, `end_time`, `break`, `comment`, `project_id`, `skip_approval`)\
          \ is required."
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: true
                    data:
                      message: The attendance period was updated.
              schema:
                $ref: '#/components/schemas/UpdatedAttendanceResponse'
          description: Success response
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 400
                      message: Error when trying to insert Attendances periods rows.
              schema:
                $ref: '#/components/schemas/AttendanceCreateUpdate400ErrorResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              examples:
                response:
                  $ref: '#/components/examples/401UnauthorizedErrorExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized Access
          x-do-not-generate: true
        "403":
          content:
            application/json:
              examples:
                response:
                  $ref: '#/components/examples/403ForbiddenErrorExample'
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden Access
          x-do-not-generate: true
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 404
                      message: The attendance period was not found.
              schema:
                $ref: '#/components/schemas/Attendance404ErrorResponse'
          description: Not found response
          x-do-not-generate: true
      security:
      - BearerAuth: []
      tags:
      - Attendances
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--company-attendances-id
      x-content-type: application/json
      x-accepts: application/json
  /company/attendances/projects:
    get:
      description: Provides a list of all company projects.
      operationId: Projects_getAll
      parameters:
      - description: The partner identifier
        explode: false
        in: header
        name: X-Personio-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: The application identifier
        explode: false
        in: header
        name: X-Personio-App-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsGetAllResponse'
          description: List of projects returned
      security:
      - BearerAuth: []
      tags:
      - Projects
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--company-attendances-projects
      x-accepts: application/json
    post:
      description: Creates a project into the company account
      operationId: Projects_createProject
      parameters:
      - description: The partner identifier
        explode: false
        in: header
        name: X-Personio-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: The application identifier
        explode: false
        in: header
        name: X-Personio-App-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectsCreateProjectRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsCreateProjectResponse'
          description: Project created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsCreateProject400Response'
          description: Invalid data was sent
          x-do-not-generate: true
      security:
      - BearerAuth: []
      tags:
      - Projects
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--company-attendances-projects
      x-content-type: application/json
      x-accepts: application/json
  /company/attendances/projects/{id}:
    delete:
      description: Deletes a project from the company account
      operationId: Projects_deleteProject
      parameters:
      - description: Numeric `id` of the project
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "204":
          description: Project was successfully deleted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsDeleteProjectResponse'
          description: Project does not exist
          x-do-not-generate: true
      security:
      - BearerAuth: []
      tags:
      - Projects
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--company-attendances-projects-id
      x-accepts: application/json
    patch:
      description: Updates a project with the given data
      operationId: Projects_updateData
      parameters:
      - description: Numeric `id` of the project
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectsUpdateDataRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsUpdateDataResponse'
          description: Project updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsUpdateData400Response'
          description: Invalid data was sent
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsUpdateData404Response'
          description: Project not found
          x-do-not-generate: true
      security:
      - BearerAuth: []
      tags:
      - Projects
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--company-attendances-projects-id
      x-content-type: application/json
      x-accepts: application/json
  /company/time-off-types:
    get:
      description: "Provides a list of absence types for absences **time unit** set\
        \ to either **days** or **hours**. For example 'Paid vacation', 'Parental\
        \ leave' or 'Home office'."
      operationId: Absences_listTimeOffTypes
      parameters:
      - description: The partner identifier
        explode: false
        in: header
        name: X-Personio-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: The application identifier
        explode: false
        in: header
        name: X-Personio-App-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Pagination attribute to limit how many records will be returned
          per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 200
          example: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 200
          x-konfig-generated-schema: konfig-generated-schema-paths--company-time-off-types-get-parameters-0-schema
        style: form
      - description: "Pagination attribute to identify which page you are requesting,\
          \ by the form of telling an offset from the first record that would be returned."
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          minimum: 0
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--company-time-off-types-get-parameters-1-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: true
                    data:
                    - type: TimeOffType
                      attributes:
                        id: 1234
                        name: Paid vacation
                        category: null
                        legacy_category: null
                        unit: day
                        half_day_requests_enabled: true
                        certification_required: false
                        substitute_option: disabled
                        approval_required: true
                    - type: TimeOffType
                      attributes:
                        id: 1235
                        name: Home office
                        category: offsite_work
                        legacy_category: offsite_work
                        unit: hour
                        half_day_requests_enabled: true
                        certification_required: true
                        certification_submission_timeframe: 2
                        substitute_option: optional
                        approval_required: true
              schema:
                $ref: '#/components/schemas/AbsencesListTimeOffTypesResponse'
          description: ""
      security:
      - BearerAuth: []
      tags:
      - Absences
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--company-time-off-types
      x-accepts: application/json
  /company/time-offs:
    get:
      description: Fetches absence periods for absences with **time unit** set to
        **days**. The result can be `paginated` and `filtered` by period and/or specific
        employee/employees. The result contains a list of absence periods.
      operationId: Absences_getAbsencePeriods
      parameters:
      - description: The partner identifier
        explode: false
        in: header
        name: X-Personio-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: The application identifier
        explode: false
        in: header
        name: X-Personio-App-ID
        required: false
        schema:
          type: string
        style: simple
      - description: "First day of the period to be queried. It is inclusive, so the\
          \ result starts from and including the provided `start_date`"
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "Last day of the period to be queried. It is inclusive, so the\
          \ result ends on `end_date` including absences from the `end_date`"
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "Query the periods that created or modified from the date `updated_from`.\
          \ It is inclusive, so all the periods created or modified from the beginning\
          \ of the `updated_from` will be included in the results"
        explode: true
        in: query
        name: updated_from
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "Query the periods that created or modified until the date `updated_to`.\
          \ It is inclusive, so all the periods created or modified until the end\
          \ of the `updated_to` will be included in the results"
        explode: true
        in: query
        name: updated_to
        required: false
        schema:
          format: date
          type: string
        style: form
      - allowReserved: true
        description: A list of Personio employee ID's to filter the results. The result
          filters including only absences of provided employees
        explode: true
        in: query
        name: "employees[]"
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: Pagination attribute to limit the number of absence periods per
          page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 200
          example: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 200
          x-konfig-generated-schema: konfig-generated-schema-paths--company-time-offs-get-parameters-5-schema
        style: form
      - description: Pagination attribute to identify which page number you are requesting
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          minimum: 0
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--company-time-offs-get-parameters-6-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: true
                    metadata:
                      total_elements: 1
                      current_page: 1
                      total_pages: 1
                    data:
                    - type: TimeOffPeriod
                      attributes:
                        id: 12345
                        status: approved
                        start_date: 2017-12-27T00:00:00+0100
                        end_date: 2017-12-29T00:00:00+0100
                        days_count: 3
                        half_day_start: false
                        half_day_end: false
                        time_off_type:
                          type: TimeOffType
                          attributes:
                            id: 54321
                            name: Vacation
                            category: offsite_work
                        employee:
                          type: Employee
                          attributes:
                            id:
                              label: id
                              value: 4567
                              type: integer
                              universal_id: id
                            first_name:
                              label: First name
                              value: Michael
                              type: standard
                              universal_id: first_name
                            last_name:
                              label: Last name
                              value: Miller
                              type: standard
                              universal_id: last_name
                            email:
                              label: Email
                              value: michael.miller@demo.com
                              type: standard
                              universal_id: email
                        certificate:
                          status: not-required
                        created_at: 2017-01-17T10:32:18+0100
                        updated_at: 2017-01-17T10:32:18+0100
                    offset: "0,"
                    limit: "200,"
              schema:
                $ref: '#/components/schemas/AbsencePeriodsResponse'
          description: ""
      security:
      - BearerAuth: []
      tags:
      - Absences
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--company-time-offs
      x-accepts: application/json
    post:
      description: Adds absence data for absence types with **time unit** set to **days**.
      operationId: Absences_addAbsenceData
      parameters:
      - description: The partner identifier
        explode: false
        in: header
        name: X-Personio-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: The application identifier
        explode: false
        in: header
        name: X-Personio-App-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateTimeOffPeriodRequest'
        description: Absence data
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: true
                    data:
                      type: TimeOffPeriod
                      attributes:
                        id: 12345
                        status: approved
                        start_date: 2017-12-27T00:00:00+0100
                        end_date: 2017-12-29T00:00:00+0100
                        days_count: 3
                        half_day_start: false
                        half_day_end: false
                        time_off_type:
                          type: TimeOffType
                          attributes:
                            id: 54321
                            name: Vacation
                            category: offsite_work
                        employee:
                          type: Employee
                          attributes:
                            id:
                              label: id
                              value: 4567
                              type: integer
                              universal_id: id
                            first_name:
                              label: First name
                              value: Michael
                              type: standard
                              universal_id: first_name
                            last_name:
                              label: Last name
                              value: Miller
                              type: standard
                              universal_id: last_name
                            email:
                              label: Email
                              value: michael.miller@demo.com
                              type: standard
                              universal_id: email
                        certificate:
                          status: not-required
                        created_at: 2017-01-17T10:32:18+0100
                        created_by: API
                        updated_at: 2017-01-17T10:32:18+0100
              schema:
                $ref: '#/components/schemas/AbsencesAddAbsenceDataResponse'
          description: The absence period is successfully created
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 400
                      message: Error when trying to insert absence period
              schema:
                $ref: '#/components/schemas/ErrorInsertingAbsenceResponse'
          description: Invalid request
          x-do-not-generate: true
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 0
                      message: Time-off type not found.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Employee or Absence type not found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 0
                      message: The given data failed to pass validation.
                      error_data: "{...}"
              schema:
                $ref: '#/components/schemas/ErrorCreateAbsenceResponse'
          description: Validation error
          x-do-not-generate: true
      security:
      - BearerAuth: []
      tags:
      - Absences
      x-readme:
        code-samples:
        - language: powershell
          code: Auto-generated code snippets for this language may not be supported
        - language: php
          code: Auto-generated code snippets for this language may not be supported
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--company-time-offs
      x-content-type: application/x-www-form-urlencoded
      x-accepts: application/json
  /company/time-offs/{id}:
    delete:
      description: Deletes absence period data for absence types with **time unit**
        set to **days**.
      operationId: Absences_deleteAbsenceData
      parameters:
      - description: The partner identifier
        explode: false
        in: header
        name: X-Personio-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: The application identifier
        explode: false
        in: header
        name: X-Personio-App-ID
        required: false
        schema:
          type: string
        style: simple
      - description: ID of the absence period to delete
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: true
                    data:
                      message: The absence period was deleted.
              schema:
                $ref: '#/components/schemas/DeletedAbsenceResponse'
          description: Success response
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 400
                      message: The absence period id is invalid.
              schema:
                $ref: '#/components/schemas/ErrorAbsenceResponse'
          description: Bad request response
          x-do-not-generate: true
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 404
                      message: The absence period was not found.
              schema:
                $ref: '#/components/schemas/ErrorAbsenceResponse'
          description: Not found response
          x-do-not-generate: true
      security:
      - BearerAuth: []
      tags:
      - Absences
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--company-time-offs-id
      x-accepts: application/json
    get:
      description: Gets an absence period for absences with **time unit** set to **days**.
      operationId: Absences_getAbsencePeriod
      parameters:
      - description: The partner identifier
        explode: false
        in: header
        name: X-Personio-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: The application identifier
        explode: false
        in: header
        name: X-Personio-App-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Numeric `id` of the absence period
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: true
                    data:
                      type: TimeOffPeriod
                      attributes:
                        id: 12345
                        status: approved
                        start_date: 2017-12-27T00:00:00+0100
                        end_date: 2017-12-29T00:00:00+0100
                        days_count: 3
                        half_day_start: false
                        half_day_end: false
                        time_off_type:
                          type: TimeOffType
                          attributes:
                            id: 45678
                            name: Vacation
                            category: offsite_work
                        employee:
                          type: Employee
                          attributes:
                            id:
                              label: id
                              value: 2367
                              type: integer
                              universal_id: id
                            first_name:
                              label: First name
                              value: Michael
                              type: standard
                              universal_id: first_name
                            last_name:
                              label: Last name
                              value: Miller
                              type: standard
                              universal_id: last_name
                            email:
                              label: Email
                              value: michael.miller@demo.com
                              type: standard
                              universal_id: email
                        certificate:
                          status: not-required
                        created_at: 2017-01-17T10:32:18+0100
                        updated_at: 2017-01-17T10:32:18+0100
              schema:
                $ref: '#/components/schemas/AbsencePeriodResponse'
          description: ""
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: false
                    error:
                      code: 404
                      message: The absence period was not found.
              schema:
                $ref: '#/components/schemas/ErrorAbsenceResponse'
          description: Not found response
          x-do-not-generate: true
      security:
      - BearerAuth: []
      tags:
      - Absences
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--company-time-offs-id
      x-accepts: application/json
  /company/absence-periods:
    get:
      description: Fetches absence periods for absences with **time unit** set to
        **hours**. The result can be `paginated` and `filtered` by period and/or specific
        employee/employees. The result contains a list of hourly absence periods.
      operationId: Absences_getHourlyPeriods
      parameters:
      - description: The partner identifier
        explode: false
        in: header
        name: X-Personio-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: The application identifier
        explode: false
        in: header
        name: X-Personio-App-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Filter by absence periods that start at or before given date.
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Filter by absence periods that start at or before given date.
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: "Filter by periods that were created or modified from the date\
          \ updated_from. It is inclusive, so all the periods created or modified\
          \ from the beginning of the updated_from will be included in the results."
        explode: true
        in: query
        name: updated_from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Filter by periods that were created or modified until the date\
          \ updated_to. It is inclusive, so all the periods created or modified until\
          \ the end of the updated_to will be included in the results."
        explode: true
        in: query
        name: updated_to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - allowReserved: true
        description: A list of Personio employee ID's to filter the results. The result
          filters including only absences of provided employees
        explode: true
        in: query
        name: "employees[]"
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - allowReserved: true
        description: A list of Personio absence type IDs to filter the results. The
          result filters including only absences of provided absence types.
        explode: true
        in: query
        name: "absence_types[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - allowReserved: true
        description: A list of Personio absence period IDs to filter the results.
          The result filters including only absences containing the provided ids.
        explode: true
        in: query
        name: "absence_periods[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Pagination attribute to limit how many absence periods are returned
          per page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 200
          example: 200
          minimum: 1
          type: integer
          x-konfig-original-example: 200
          x-konfig-generated-schema: konfig-generated-schema-paths--company-absence-periods-get-parameters-7-schema
        style: form
      - description: "Pagination attribute to identify which page you are requesting,\
          \ by the form of telling an offset from the first record that would be returned."
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          minimum: 0
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--company-absence-periods-get-parameters-8-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: true
                    metadata:
                      total_elements: 1
                      current_page: 1
                      total_pages: 1
                    data:
                    - type: AbsencePeriod
                      attributes:
                        id: 9bba303f-0fbc-4514-9958-0befa21923fb
                        measurement_unit: hour
                        effective_duration: 960
                        employee:
                          type: Employee
                          attributes:
                            id:
                              label: id
                              value: 2367
                              type: integer
                              universal_id: id
                            first_name:
                              label: First name
                              value: Michael
                              type: standard
                              universal_id: first_name
                            last_name:
                              label: Last name
                              value: Miller
                              type: standard
                              universal_id: last_name
                            email:
                              label: Email
                              value: michael.miller@demo.com
                              type: standard
                              universal_id: email
                        absence_type:
                          type: AbsenceType
                          attributes:
                            id: 9bba303f-0fbc-4514-9958-0befa21923fbX
                            name: Absence Type Name
                            time_off_type_id: 45678
                        certificate:
                          status: not-required
                        start: 2022-05-31T22:00:00.0Z
                        end: 2022-06-02T22:00:00.0Z
                        half_day_start: true
                        half_day_end: false
                        comment: this is a comment
                        origin: web
                        status: approved
                        created_by: 1
                        created_at: 2022-06-20T14:29:56.510Z
                        updated_at: 2022-06-20T14:29:56.510Z
                        approved_at: 2022-06-20T14:29:56.510Z
                        breakdowns:
                        - date: 2022-06-01
                          effective_duration: 480
                        - date: 2022-06-02
                          effective_duration: 480
                    offset: "0,"
                    limit: "200,"
              schema:
                $ref: '#/components/schemas/HourlyAbsencePeriodsResponse'
          description: ""
        "400":
          content:
            problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
          x-do-not-generate: true
        "500":
          content:
            problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
          x-do-not-generate: true
      security:
      - BearerAuth: []
      tags:
      - Absences
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--company-absence-periods
      x-accepts: application/json
    post:
      description: Adds absence data for absence types with **time unit** set to **hours**.
        Note that creating periods for absence types with certificate requirement
        enabled is not supported!
      operationId: Absences_addAbsencePeriodsData
      parameters:
      - description: The partner identifier
        explode: false
        in: header
        name: X-Personio-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: The application identifier
        explode: false
        in: header
        name: X-Personio-App-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateAbsencePeriodRequest'
        description: Absence data
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    success: true
                    data:
                    - type: AbsencePeriod
                      attributes:
                        id: 9bba303f-0fbc-4514-9958-0befa21923fbX
                        measurement_unit: hour
                        effective_duration: 960
                        employee:
                          type: Employee
                          attributes:
                            id:
                              label: id
                              value: 2367
                              type: integer
                              universal_id: id
                            first_name:
                              label: First name
                              value: Michael
                              type: standard
                              universal_id: first_name
                            last_name:
                              label: Last name
                              value: Miller
                              type: standard
                              universal_id: last_name
                            email:
                              label: Email
                              value: michael.miller@demo.com
                              type: standard
                              universal_id: email
                        absence_type:
                          type: AbsenceType
                          attributes:
                            id: 9bba303f-0fbc-4514-9958-0befa21923fbX
                            name: Absence Type Name
                            time_off_type_id: 45678
                        certificate:
                          status: not-required
                        start: 2022-05-31T22:00:00.0Z
                        end: 2022-06-02T22:00:00.0Z
                        half_day_start: true
                        half_day_end: false
                        comment: this is a comment
                        origin: web
                        status: approved
                        timezone: Europe/Berlin
                        created_by: 1
                        created_at: 2022-06-20T14:29:56.510Z
[...]
